.gradient-container {
  background-color: #045e9e;
  background: linear-gradient(
      174deg,
      rgba(74, 177, 250, 0) 0,
      rgba(74, 177, 250, 0) 50%,
      rgba(74, 177, 250, 0.6) 90%,
      #4bb1fa 100%
    ),
    #045e9e;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .marginless {
  margin-right: -30px;
} */

.footer-text {
  color: #484848;
  font-size: 0.9rem;
  font-weight: 600;
}
.footer-bar {
  background-color: #fafafa;
  padding: 3rem 1.5rem 3rem;
}
